{% extends "base.html" %}

{% block title %}Redefinição de Senha{% endblock %}

{% block content %}
<h2 style="color: #111827; margin-top: 0; font-size: 22px;">Recuperação de Senha</h2>
<div style="font-size: 16px;">
    <p>Você solicitou a redefinição de sua senha.</p>
    <p>Clique no botão abaixo para criar uma nova senha segura:</p>
</div>

<div style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
    <a href="{{ link }}"
        style="background-color: #4F46E5; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; font-family: sans-serif; display: inline-block;">
        Redefinir Senha
    </a>
</div>
{% endblock %}